h1{
    text-align: center;
}
h5{
    background-color: #5FB1F1;
    margin-top: 20px;
    color: white;
}
.documentos{
    background-color: #DFE185;
    color: black;
}
.btn-primary{
    background-color: #5FB1F1;
    border-color:  #5FB1F1;
}
    